body {
  margin: 0;
  padding: 0;
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

@import 'primereact/resources/themes/saga-green/theme.css';

/* @import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/themes/saga-green/theme.css";
@import "primereact/resources/themes/md-light-indigo/theme.css";
@import "primereact/resources/themes/viva-light/theme.css"; */

@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@import 'flag-icons/css/flag-icons.min.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Card hover effect */
.card-item-hover {
  box-shadow: 0 0 10px 2px rgba(34, 197, 94, 0.5); /* light green glow */
  border: 2px solid #22c55e; /* green border */
  transition: all 0.2s ease-in-out;
}

/* Card selected effect */
.card-item-selected {
  box-shadow: 0 0 15px 4px #16a34a; /* bright green glow */
  border: 2px solid #16a34a;
  transition: all 0.2s ease-in-out;
}

/* Optional: smooth hover for normal cards */
.card-item {
  transition: all 0.2s ease-in-out;
}

.p-dataview .p-paginator {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--surface-card); /* match your card background */
}
