html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 4rem;
}

/* UTILITIES */
.text-title {
  color: rgb(var(--color-base-800));
}

.dark .text-title {
  color: rgb(var(--color-base-100));
}

.text-base-custom {
  color: rgb(var(--color-base-600));
}

.dark .text-base-custom {
  color: rgb(var(--color-base-400));
}

.text-muted {
  color: rgb(var(--color-base-500));
}

.border-base {
  border-color: rgb(var(--color-base-300));
}

.dark .border-base {
  border-color: rgb(var(--color-base-700));
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* COMPONENTS */
.title-gradient {
  background: linear-gradient(
    to bottom,
    rgb(var(--color-base-500)),
    rgb(var(--color-base-900))
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dark .title-gradient {
  background: linear-gradient(
    to bottom,
    rgb(var(--color-base-400)),
    rgb(var(--color-base-50))
  );
}
